[defaults]
inventory=inventory
remote_user=devops
collections_paths = ./collections:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified_repo, community_repo
disable_gpg_verify = true

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified
token=a74b3afcbd0d6c1d96e416d83996ffbd5fe4d9a2

[galaxy_server.community_repo]
url=https://hub.lab.example.com/api/galaxy/content/community/
token=a74b3afcbd0d6c1d96e416d83996ffbd5fe4d9a2
