[defaults]
inventory = ./inventory
collections_paths = ./collections:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified_repo, community_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=aa251ab69430f7c75f7e011ac80dee15ff2eb3c0

[galaxy_server.community_repo]
url=https://hub.lab.example.com/api/galaxy/content/community/
token=aa251ab69430f7c75f7e011ac80dee15ff2eb3c0
